.input {
  width: 800px;
  height: 60px;
  position: absolute;
  left: 450px;
  padding: 5px 20px;
  margin-top: 20px;
  background-color: rgba(36, 52, 61, 1);
  border-radius: 6px;
  outline: none;
  border: none;
  box-shadow: 10px 10px 30px 0 rgba(36, 52, 61, 0.6);
  color: #ffff;
  font-weight: 200;
  font-size: 20px;
}

input::placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 200;
  line-height: 65;
  opacity: 0.8; /* Ensure full opacity (some browsers apply a lower opacity by default) */
}
